<div fxLayoutAlign="center">
  <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
    <div>
      <div class = "form-head" fxLayoutAlign="center">
        <span style='color: #1A73E8'>F</span>
        <span style='color: red'>u</span>
        <span style='color: yellow'>n</span>
        <span style='color: #1A73E8'>d</span>
        <span style='color: green'>o</span>
        <span style='color: red'>o</span>
      </div>
      <div class="title-head" fxLayoutAlign="center">Account Recovery</div>
      <div class="title-head account" fxLayoutAlign="center">Enter the email ID associated with your Fundoo Account</div>
      <div>
        <mat-form-field appearance="outline" class="textbox">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.controls.email.errors }">
          <!-- <mat-error *ngIf="forgotPasswordForm.controls.email.errors.required" class="error-text">Email is required</mat-error> -->
          <!-- <mat-error *ngIf="forgotPasswordForm.controls.email.errors.email" class="error-text">Email must be a valid email address</mat-error> -->
        </mat-form-field>
      </div>
      <div class="button-div" fxLayoutAlign="end">
        <input class="next-button" type="submit" value="Next" [style.fontSize.px]="11">
      </div>
    </div>
  </form>
</div>