.form {
    margin-top: 30px;
    padding: 49px 0px 49px 43px;
    border: 1px solid #00000029;
    border-radius: 8px;
}

.form-head, .title-head {
    font: 21px/16px Roboto;
    padding-bottom: 20px;
}

.title-head {
    font: 24px Roboto;
}

.textbox {
    width: 195px;
}

.email {
    width: 400px;
}

.show-password {
    outline: 2px solid gray;
}

.error-text {
    font-size: 10px;
}

.button-div {
    padding-top: 50px;
}

.link-text {
    text-decoration: none;
    color:#1A73E8;
}

img {
    height: 250px;
}

.next-button {
    background-color: #1A73E8;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    border: white;
}

@media only screen and (max-width: 900px) {
    .image-div {
        position: absolute;
    }

    img {
        display: none;
    }

    .form {
        padding: 49px 43px;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        margin-top: 10px;
        border: 0px;
    }

    .form-div {
        width: 100%;
    }

    .textbox {
        width: 100%;
    }
    
}