<div fxLayoutAlign="center">
  <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
    <div>
      <div class = "form-head" fxLayoutAlign="center">
        <span style='color: #1A73E8'>F</span>
        <span style='color: red'>u</span>
        <span style='color: yellow'>n</span>
        <span style='color: #1A73E8'>d</span>
        <span style='color: green'>o</span>
        <span style='color: red'>o</span>
      </div>
      <div class="title-head" fxLayoutAlign="center">Reset Password</div>
      <div class="title-head account" fxLayoutAlign="center">Enter your new password</div>
      <div>
        <mat-form-field appearance="outline" class="textbox">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.controls.password.errors }">
          <!-- <mat-error *ngIf="resetPasswordForm.controls.password.errors.required" class="error-text">Password is required</mat-error>
          <mat-error *ngIf="resetPasswordForm.controls.password.errors.minlength" class="error-text">Password must be at least 6 characters</mat-error> -->
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="textbox password">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" id="confirmPassword" [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.controls.confirmPassword.errors }">
          <!-- <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors.required" class="error-text">Confirm Password is required</mat-error>
          <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors.required" class="error-text">Passwords must match</mat-error> -->
        </mat-form-field>
      </div>
      <div class="button-div" fxLayoutAlign="end">
        <input class="next-button" type="submit" value="Next" [style.fontSize.px]="11">
      </div>
    </div>
  </form>
</div>